<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Creating a directive</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- Bootstrap Theme -->
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<!-- AngularJS -->
	<script src="/bower_components/angular/angular.min.js"></script>
</head>
<body>
	

	<!-- jQuery -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap Javascript -->
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>